<div id="particles-js"></div>

<section id="hello">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Connected</h1>
				<h2>development</h2>
				<p class="lead">Helping clients connect the dots between ideas, design, development and deployment.</p>
				<%= link_to "Our Process", "#follower", class: "btn btn-lg btn-trans page-scroll" %>
			</div>
		</div>
	</div>
</section>

<section id="us">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-md-7">

						<h4>SIMPLY STATED:</h4>
						<p>We are <span class="call one">designers and developers</span>. We <span class="call two">love web development</span>. From idea <span class="call one">validation</span> to product <span class="call one">deployment</span>, let us help you <span class="call two">connect the dots</span>.</p>
					</div>
					<div class="col-md-5">
						<%= image_tag("Comp-Pix.png", class: "img-responsive")%>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="do">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				
				<h2 class="text-center">This is the type of stuff we do.</h2>

			</div>
		</div>
	</div>
</section>

<section id="follower">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="row">
					<h2 class="text-center">We follow a <span class="callout red">simple</span> and <span class="callout green">transparent</span> process.</h2>
					<div class="col-md-4">
						<div class="boxes">
							<div class="top blue">
								<a class="define"></a>
		    				<h3>Define</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a class="btn btn-block btn-green">More Info</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="boxes">
							<div class="top yellow">
								<a class="develop"></a> 
		    				<h3>Develop</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a class="btn btn-block btn-green">More Info</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="boxes">
							<div class="top green">
								<a class="deploy"></a> 
		    				<h3>Deploy</h3>
		    			</div>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a class="btn btn-block btn-green">More Info</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<div class="clearfix"></div>

<section id="nexter">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				
			</div>
		</div>
	</div>
</section>