@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$container-large-desktop:  (940px + $grid-gutter-width);

$black1: 				#131313;
$black2:				#333333;
$blue1:         #548AD0;
$blue2:         #1356AB;
$blue3:         #AAC9F0;
$green1:        #2A8695;
$white:         #FCFCFC;
$lightgrey:     #ECF0F1;
$yellow:        #F3BB41;
$back:          #f4f5f7;
$font1:					"Open Sans", sans-serif;
$font2:					"Roboto", sans-serif;


@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto:400,100,300,500,700");

body {
	font-family: $font1;
	font-weight: 200;
	font-size: 16px;
  color: $black2;
  margin: 0; 
  background: linear-gradient(rgba($back, 0.85), rgba($back, 0.65)), image-url('backimg.png') repeat;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font2;
	font-weight: 300;
}

section {
  padding: 2.2em 0;
}

button.close {
  font-size: 2.5em;  // 40px / 16px
  font-weight: 200;
  .modal & {
    padding: 0.1em 0.1em 0 0;

  }
}

.container
.alert {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  font-size: 1.5em;
  padding-top: 1.2em;
  background: rgba(#d9edf7, 0.95);
  border: none;
  border-bottom: 8px solid $blue1;
}

.alert-dismissible .close {
  top: -2px;
}

.btn-block {
  margin-bottom: 1em;
}

.panel {
  background: rgba(#FFFFFF, 0.55);
}
.panel-default {
  .panel-heading {
  }
}

/************************************
NAVBAR
************************************/

.navbar-default {
	margin-bottom: 0;
  padding: 20px 0;
  border-radius: 0;
  background: rgba($black1, 0.75);
  border: none;
  border-top: 6px solid $green1;
  .navbar-toggle {
    border-color: $black1;
    &:hover {
      background: $white;
    }
    .icon-bar {
      background: $green1;
    }
  }
  .navbar-brand {
    color: $white;
    font-weight: 400;
    font-size: 1.8em;
    &:hover {
      color: $yellow;
    }
  }
  .navbar-nav.navbar-right li a {
    color: $white;
    font-weight: 300;
    &:hover {
      color: $green1;
    }
    &.btn {
      border: 1px solid $green1;
      border-radius: 5px;
      color: $green1;
      &:hover {
        color: $white;
        background: $green1;
        font-weight: 400;
      }
    }
  }
  #sidr-right ul li a{
    color: $white;
    &:hover {
      color: $green1;
    }
  }
  .navbar-toggle {
    border: none;
    .icon-bar {
      height: 4px;
      color: $white;
    }
  }
}

/************************************
FOOTER 
************************************/

footer {
	background: $green1;
	padding: 1.2em 0;
	color: $white;
	h4 {
		margin: 0;
	}
}

//Disqus Footer
#footer {
  display: none!important;
}

/************************************
HOMEPAGE  
************************************/

#main {
  background: image-url('lemons.jpg') center top;
  background-size: cover;
  background-position: center center; 
  width: 100%;
  margin: 0;
  padding: 8em 0;
  overflow-y: hidden;
  margin-top: -100px;
  h1 {
  	text-transform: uppercase;
  	font-size: 3em;
  	color: $white;
  }
  p {
  	color: #eee;
  	text-shadow: $black1 0.5px 0.5px;
  }
}

#second {
	background: linear-gradient(to bottom, #2A8695,  #2A8695 5%, #BDF4D8 95%);
  color: $white;
}

#radient {
  background: linear-gradient(to bottom, #2A8695,  #2A8695 5%, #BDF4D8 95%);
  color: $white;
  h1 {
    font-size: 5em;
  }
}

/************************************
COURSES  
************************************/

.courses {
  border: rgba($black1, 0.2) 1px solid;
  border-radius: 5px;
  background: rgba(#FFF, 0.75);
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  float: left;
  h3 a {
    color: $black1;
    font-weight: 400;
    &:hover {
      color: $blue2;
    }
  }
  .courseinfo {
    padding: 0 2em;
  }
  .btnStart {
    margin: 0.5em 0.3em;
    padding: 0.8em 3em;
    color: $white;
    background: $green1;
  }
  img {
    border-radius: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    &:hover {
      opacity: 0.7;
      transform: scale(1.03);
    }
  }
}

.video {
  max-width: 900px;
  margin: 0 auto;
}

#blogs {
  border: 1px solid rgba($black1, 0.13);
  border-top: 6px solid $blue1;
  border-radius: 0 0 5px 5px;
  background: $white;
  color: $black2;
  padding: 0 0.8em 1em 0.8em;
  margin-bottom: 2em;
  .heading {
    background: rgba($lightgrey, 0.83);
    color: $blue1;
    margin: 0 -0.8em;
    padding: 0.5em 0.7em; 
    h4 {
      font-weight: 400;
    }
  }
  .blog {
    padding: 1em;
    border-bottom: 2px solid rgba($black1, 0.4);
    &:last-child {
      border-bottom: none;
    }
    p {
      padding: 0 0 5px;
      line-height: 1.6;
    }
    h2 {
      font-weight: 500;
      margin: 0.8em 0;
      a {
        color: rgba($black1, 0.6);
        &:hover {
          color: $green1;
        }
      }
    }
    h3 {
      margin: 0 2em 0 0;
      display: inline;
    }
    h4 {
      color: rgba($black1, 0.5);
    }
    .blogInfo {
      padding-bottom: 1.5em;
    }
    .blogDetails {
      padding: 0.6em 0;
      font-size: 0.9em;
      color: rgba($black2, 0.5);
      .fa {
        margin-right: 0.5em;
      }
      li {
        margin-right: 1.5em;
      }
    }
    .fa {
      color: $blue1;
      &:hover {
        color: $green1;
      }
    }
    .fa-stack.fa-lg {
      color: $blue1;
      &:hover {
        color: $green1;
      }
    }
    .author {
      font-size: 0.85em;
    }
    #footer {
      display: none!important;
    }
  }
}

img.rounded {
  border-radius: 100%;
}


/************************************
MEDIA QUERIES AND RESPONSIVENESS
************************************/


@media (max-width: 940px) {
  .video {
    max-width: 700px;
    margin: 0 auto;
  }
}
