@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$black1:        #131313;
$black2:        #333333;
$blue1:         #075E6A; // I don't think that I am using this anywhere
$blue2:         #1356AB; // I dont' think that I am using this anywhere either
$blue3:         #AAC9F0; // This is being used in header
$green1:        #2A8695; // This is the main color for the site
$green2:        #74BFC9; // This is a lighter green
$orange:        #F39641; // This will be used in the courses show page
$btngreen:      #45b29d; // This is the green sign up button
$white:         #FCFCFC; // This is used everywhere
$lightgrey:     #ECF0F1; // This is also used frequently
$yellow:        #f7ab24; // I don't think that I am using this anywhere
$red:           #C34C39; // I don't think that I am using this anywhere
$purple:        #566EB7; // This is used for some hover effects
$font1:         "Roboto", sans-serif;
$font2:         "Open Sans", sans-serif;

$brand-info:    #2A8695;



@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto:400,100,300,500,700");

body {
  font-family: $font1;
  font-weight: 200;
  font-size: 16px;
  color: $black2;
  margin: 0; 
  background: rgba($white, 0.65);
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font2;
  font-weight: 300;
}

section {
  padding: 2em 0;
}

button.close {
  font-size: 2.5em;  // 40px / 16px
  font-weight: 200;
  .modal & {
    padding: 0.1em 0.1em 0 0;

  }
}

.container
.alert {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  font-size: 1.5em;
  padding-top: 1.2em;
  background: rgba(#d9edf7, 0.95);
  border: none;
  border-bottom: 8px solid $blue1;
}

.alert-dismissible .close {
  top: -2px;
}

.btn-block {
  margin-bottom: 1em;
}

.panel {
  background: rgba(#FFFFFF, 0.55);
}
.panel-default {
  .panel-heading {
  }
}

/************************************
NAVBAR
************************************/

.navbar-default {
  margin-bottom: 0;
  padding: 20px 0;
  border-radius: 0;
  background: rgba($black1, 0.75);
  border: none;
  border-top: 3px solid $green1;
  .navbar-toggle {
    border-color: $black1;
    &:hover {
      background: $white;
    }
    .icon-bar {
      background: $green1;
    }
  }
  .navbar-brand {
    color: $white;
    font-weight: 400;
    font-size: 1.8em;
    &:hover {
      color: $blue3;
    }
  }
  .navbar-nav.navbar-right li a {
    color: $white;
    font-weight: 300;
    &:hover {
      color: $blue3;
    }
    &.btn {
      border: 1px solid $green1;
      border-radius: 5px;
      color: $green1;
      font-weight: 400;
      &:hover {
        color: $white;
        background: $green1;
        font-weight: 400;
      }
    }
  }
  #sidr-right ul li a{
    color: $white;
    &:hover {
      color: $green1;
    }
  }
  .navbar-toggle {
    border: none;
    .icon-bar {
      height: 4px;
      color: $white;
    }
  }
}

.sidr {
  font-family: $font1 !important;
  font-weight: 400 !important;
}

/************************************
HOME PAGE (Course Index)
************************************/

#intro {
  width: 100%;
  z-index: -4;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-body {
    z-index: 1;
    padding-top: 15%;
    line-height: 1;
    color: $white;
    font-size: 1.75em;
    text-align: center;
    min-height: 500px;
}

#video_background {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -3;
    background: cover;
}

.overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($black1, 0.30);
    width: 100%;
    height: 100%;   
}

#about {
  text-align: justify;
  background: linear-gradient(33deg, rgba($green2, 0.99), rgba($green2, 0.80)), image-url("maze.jpg") repeat;
  color: $white;
  z-index: 3;
}

#course{
  background: darken($white, 3%);
}

.boxes {
  border: 1px solid $black1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  background: $white;
  .top {
    background: $green1;
    padding: 0.3em;
    h3 {
      margin: 20px 0;
      font-weight: 400;
    }
    a {
      color: $white;
    }
  }
  p {
    padding: 1em;
    font-weight: 300;
    text-align: left;
    font-size: 1.1em;
  }
}

.btn-green {
  color: $white;
  background: $btngreen;
  border: 2px solid darken($btngreen, 10%);
  margin-bottom: 1em;
  border-radius: 3px;
  &:hover {
    background: darken($btngreen, 5%);
    color: $white;
  }
}

/************************************
BLOGS
************************************/

#blogs {
  border: 1px solid rgba($black1, 0.13);
  border-top: 6px solid $green1;
  border-radius: 0 0 5px 5px;
  background: $white;
  color: $black2;
  padding: 0 0.8em 1em 0.8em;
  margin-bottom: 2em;
  .heading {
    background: rgba($lightgrey, 0.83);
    color: $blue1;
    margin: 0 -0.8em;
    padding: 0.5em 0.7em; 
    h4 {
      font-weight: 400;
    }
  }
  .blog {
    padding: 1em;
    border-bottom: 2px solid rgba($black1, 0.4);
    &:last-child {
      border-bottom: none;
    }
    p {
      padding: 0 0 5px;
      line-height: 1.6;
    }
    h2 {
      font-weight: 500;
      margin: 0.8em 0;
      a {
        color: rgba($black1, 0.6);
        &:hover {
          color: $green1;
        }
      }
    }
    h3 {
      margin: 0.3em 0;
    }
    h4 {
      color: rgba($black1, 0.5);
    }
    .blogInfo {
      padding-bottom: 1.5em;
    }
    .blogDetails {
      padding: 0.6em 0;
      font-size: 0.9em;
      color: rgba($black2, 0.5);
      .fa {
        margin-right: 0.5em;
      }
      li {
        margin-right: 1.5em;
      }
    }
    .blog-fa {
      color: $blue1;
      &:hover {
        color: $purple;
      }
    }
    .author {
      font-size: 0.85em;
    }
    #footer {
      display: none!important;
    }
  }
  .spec {
    display: none;
  }
}

select#blogs {
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 25px;
  color: $green1;
  width: 88px;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-appearance: none;
}

img.rounded {
  border-radius: 100%;
}

/************************************
COURSE SHOW
************************************/

.main {
  background: image-url('learn.jpg') center bottom;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -90px;
  padding-top: 15%;
  z-index: -1;
  p {
    color: $white;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    line-height: 1.2;
  }
}

.courses {
  background: linear-gradient(305deg, rgba($orange, 0.90), rgba($orange, 0.99)), image-url("maze.jpg") repeat;;
  color: $white;
}

#course-description {
  background: $white;
  ul {
    padding-left: 20px;
    li {
      font-size: 1.2em;
    }
  }
}

#sign-up {
  background: $lightgrey;
  color: $black1;
  h2 {
    margin-top: 4px;
  }
  .btn {
    color: $white;
    background: $green1;
    border: 2px solid darken($green1, 8%);
    border-radius: 3px;
    margin: 0;
    &:hover {
      background: lighten($green1, 5%);
    }
  }
}

/************************************
LESSONS
************************************/

.video {
  max-width: 900px;
  margin: 0 auto;
}

/************************************
FOOTER 
************************************/

footer {
  background: rgba($black1, 0.7);
  padding: 18px 0;
  color: $white;
  h4 {
    margin: 0;
  }
  a {
    color: $white;
    &:hover {
      color: $blue3;
    }
    &:active, &:focus, &:visited {
      color: $white;
    }
    span {
      margin-top: -8px;
    }
  }
}

/************************************
MEDIA QUERIES AND RESPONSIVENESS
************************************/

@media(min-width:980px) {
    #intro {
        padding: 0;
        .intro-body {
          font-size: 1.75em;
        }
    }
}

@media(max-width:979px) {
    #intro {
        padding: 0;
        .intro-body {
          font-size: 1.75em;
          padding: 20%;
        }
        .overlay {
            height: 100%;
        }
    }
}

@media (max-width: 767px) {
    #intro {
        background: image-url('learn.jpg') no-repeat center bottom;
        height: 450px;
        background-size: cover;
        #vidback {
            display: none;
        }
    }
    .main .row {
      padding-top: 20%;
    }
  .img-responsive.small-img {
    width: 120px;
    margin: 10px auto;
  }
}

@media (max-width: 940px) {
  .video {
    max-width: 700px;
    margin: 0 auto;
  }
}
