@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$blue1:         #548AD0;
$blue2:         #1356AB;
$blue3:         #AAC9F0;
$white:         #FCFCFC;


@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Roboto:400,100,300,500,700");