<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <h2 style='font-family: "Raleway", sans-serif; margin-bottom: 20px; font-size: 24px; font-weight: 500; line-height: 1.4;'>Hey! We received a new contact!</h2>
    
    <h3 style='font-family: "Raleway", sans-serif; margin-bottom: 5px; font-size: 18px; font-weight: 500; line-height: 1.4;'>Name:</h3>
      
    <p style='font-family: "Raleway", sans-serif; font-size: 18px; font-weight: 300; padding-bottom: 15px; margin-top: 0;'><%= @lead.name %></p>
    
    <h3 style='font-family: "Raleway", sans-serif; margin-bottom: 5px; font-size: 18px; font-weight: 500; line-height: 1.4;'>Email:</h3>
      
    <p style='font-family: "Raleway", sans-serif; font-size: 18px; font-weight: 300; padding-bottom: 15px; margin-top: 0;'><%= @lead.email %></p>

    <h3 style='font-family: "Raleway", sans-serif; margin-bottom: 5px; font-size: 18px; font-weight: 500; line-height: 1.4;'>Phone:</h3>
      
    <p style='font-family: "Raleway", sans-serif; font-size: 18px; font-weight: 300; padding-bottom: 15px; margin-top: 0;'><%= @lead.telephone %></p>

    <h3 style='font-family: "Raleway", sans-serif; margin-bottom: 5px; font-size: 18px; font-weight: 500; line-height: 1.4;'>Message:</h3>

    <p style='font-family: "Raleway", sans-serif; font-size: 22px; font-weight: 300; padding-bottom: 15px;  margin-top: 0;'><%= @lead.message %></p>

    <p style='font-family: "Raleway", sans-serif; font-size: 18px; font-weight: 300; padding-top: 15px;'>You can see more information <a href="http://www.gourmetfabregat.cl/users/sign_in" target="_blank">here</a>.</p>

    <p style='font-family: "Raleway", sans-serif; font-size: 18px; font-weight: 300; padding-top: 15px;'>Go get 'em, tiger.</p>

    <h2 style='font-family: "Raleway", sans-serif; font-weight: 500; font-size: 28px;'>devocode, llp</h2>
  </body>
</html>


