<footer>
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<small>&copy; 2015 devocode, llp</small>
			<%= mail_to "nate@devocode.com", target: "_top", class: "pull-right" do %>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-envelope fa-stack-1x"></i>
				</span>
			<% end %>

			<%= link_to "http://www.github.com/nallenanderson/devocode", target: "_blank", class: "pull-right" do %>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-github fa-stack-1x"></i>
				</span>
			<% end %>
			<%= link_to "http://www.twitter.com/nallenanderson", target: "_blank", class: "pull-right" do %>
				<span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-twitter fa-stack-1x"></i>
				</span>
			<% end %>
		</div>
	</div>
</footer>