<footer>
	<div class="container-fluid">
		<div class="col-sm-8 col-sm-offset-2">
			<small>&copy; 2017 devocode, llp</small>
			<ul class="list-unstyled list-inline pull-right">
				<li>
					<%= link_to "#", target: "_blank" do %>
				  	<i class="fa fa-twitter"></i>
					<% end %>
				</li>
				<li>
					<%= link_to "#", target: "_blank" do %>
				  	<i class="fa fa-github"></i>
					<% end %>
				</li>
				<li>
					<%= mail_to "nate@devocode.com", target: "_top" do %>
				  	<i class="fa fa-envelope"></i>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</footer>
