<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- <div class="container-fluid"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapso">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "DEVOCODE", "#", class:"navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse collapso">

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "Edit Profile", "#" %></li>
          <li><%= link_to "Sign Up", "#", class: "btn btn-info" %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <!--</div> /.container-fluid -->
  </div>
</nav>